- const puerto = 1337
- const titulo = 'Servicio de la App MiMontevideo'

doctype html
html
  head
    title= 'Servicio de MiMontevideo'
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content